:root {
--comment-move-direction: column;
--comment-enter-from: translateY(100%);
--comment-enter-to: translateY(-100%);
--comment-width-condition: 100%;
--comment-height-condition: 100%;
--comment-min-height: 70px;
--comment-box-margin: 5px 8px 5px 8px;
--comment-box-padding: 4px 4px 4px 4px;
--comment-box-color: #1415268a;
--comment-box-border: none;
--comment-box-radius: 10px 10px 10px 10px;
--comment-box-shadow: 1px 1px 3px 1px #0000004d;
--comment-text-color: #FFFFFF;
--comment-text-font-size: 15px;
--comment-text-font: Noto Sans JP;
--comment-text-font-weight: 500;
--comment-text-shadow: 1px 2px 2px #525252ff;
--comment-text-default-align: left;
--comment-text-margin: 6px 5px 3px 0px;
--comment-emoji-size: 18px;
--comment-emoji-margin: 0px 3px 0px 0px;
--comment-sticker-size: 40px;
--special-sticker-size: 50px;
--avatar-display: flex;
--avatar-display-none: none;
--avatar-size: 40px;
--avatar-border: 3px solid #ffffffff;
--avatar-border-radius: 10px 10px 10px 10px;
--avatar-margin: 0px 8px 0px 0px;
--username-min-width: 10px;
--username-max-width: 150px;
--username-font-color: #ffffffff;
--username-font-size: 14px;
--username-font-family: Noto Sans JP;
--username-font-weight: 600;
--username-text-shadow: 1px 1px 1px #bdbdbdff;
--username-bg-color: #00be26ff;
--username-box-shadow: none;
--username-border: none;
--username-padding: 2px 10px 2px 10px;
--username-border-radius: 5px 5px 5px 5px;
--badges-size: 20px;
--badges-margin-distance: 0px 3px 0px 3px;
--label-font-color: #FFFFFF;
--label-font-size: 14px;
--label-font-family: Noto Sans JP;
--label-font-weight: 600;
--label-text-shadow: none;
--label-text-align: center;
--tag-status: true;
--time-status: true;
--label-status: true;
--time-short: block;
--time-full: none;
--label-bg-color: #ff1f1f00;
--label-border: 2px solid #FFFFFF;
--label-box-shadow: 1px 1px 1px 0px #0000004d;
--label-padding: 0px 9px 0px 9px;
--label-radius: 50px 50px 50px 50px;
--label-position-right: 5px;
--label-position-top: 4px;
--label-min-width: 35px;
--label-sponsorgift-icon-color: #FFFFFF;
--comment-move-duration: 150ms;
--comment-move-timing: ease-out;
--comment-enter-duration: 150ms;
--comment-enter-timing: ease-out;
--label-gift-icon: url('images/gift-svgrepo-com.svg');
--label-bilibili-unit: '￥';
--label-twitch-unit-bits: 'Bits';
--label-twitch-unit-cp: 'CP';
}