:root {
--layout-standard-display: block;
--layout-condensed-display: none;
--bar-color: #9F80FC;
--bar-background-color: #E4E0EF;
--bar-top: 0px;
--bar-left: 0px;
--bar-height: 35px;
--bar-box-shadow: 0px 0px 1px 0px #000000bf;
--bar-border: 3px solid #9F80FC;
--bar-border-inner: 3px solid #FFFFFF;
--bar-border-radius: 50px 0px 0px 50px;
--bar-background-border-radius: 50px 50px 50px 50px;
--progress-color: #423469;
--progress-font-size: 12px;
--progress-font: Hachi Maru Pop;
--progress-font-weight: 600;
--std-title-display: block;
--std-title-display-none: none;
--std-title-font-color: #9F80FC;
--std-title-font-size: 14px;
--std-title-font: Hachi Maru Pop;
--std-title-font-weight: 600;
--std-title-align: center;
--std-title-text-shadow: 0px 0px 1px #383838d1;
--std-title-padding: 4px 0px 4px 0px;
--std-footer-display: flex;
--std-footer-display-none: none;
--std-footer-top: 0px;
--std-footer-font-color: #61009eff;
--std-footer-font-size: 14px;
--std-footer-font: Hachi Maru Pop;
--std-footer-font-weight: 600;
--std-footer-text-shadow: 0px 0px 1px #000000bf;
--std-footer-font-padding: 4px 0px 4px 0px;
--cond-title-display: block;
--cond-title-display-none: none;
--cond-title-font-color: #FFFFFF;
--cond-title-font-size: 14px;
--cond-title-font: Hachi Maru Pop;
--cond-title-font-weight: 600;
--cond-title-align: left;
--cond-title-text-shadow: 0px 0px 1px #FFFFFF;
--cond-title-padding: 4px 0px 4px 0px;
--cond-targetamount-display: block;
--cond-targetamount-display-none: none;
--cond-targetamount-font-color: #8C7ABC;
--cond-targetamount-font-size: 14px;
--cond-targetamount-font: Hachi Maru Pop;
--cond-targetamount-font-weight: 600;
--cond-targetamount-padding: 4px 0px 4px 0px;
--cond-targetamount-text-shadow: 0px 0px 1px #000000bf;
--cond-side-padding: 32px;
}