:root {
--comment-move-direction: column;
--comment-enter-from: translateY(100%);
--comment-enter-to: translateY(-100%);
--comment-width: 100%;
--comment-width-min: none;
--comment-width-max: none;
--comment-height: 100%;
--comment-height-min: 45px;
--comment-height-max: none;
--comment-box-margin: 5px 8px 5px 8px;
--comment-paid-width: 100%;
--comment-paid-width-min: none;
--comment-paid-width-max: none;
--comment-paid-height: 100%;
--comment-paid-height-min: none;
--comment-paid-height-max: none;
--user-row-margin: 0px 0px 4px 0px;
--column1-right-margin: 5px;
--comment-bar-display-off: none;
--comment-bar-display: flex;
--comment-bar-width: 4px;
--comment-bar-radius: 25px 25px 25px 25px;
--comment-bar-color-default: #00000099;
--comment-bar-color-special: #ffd700;
--comment-border-radius: 15px 15px 15px 15px;
--comment-bg-default-color: #00000099;
--comment-bg-special-color: #ffd700;
--special-sticker-size: 50px;
--comment-text-default-color: #FFFFFF;
--comment-text-font-size: 16px;
--comment-text-font: Noto Sans JP;
--comment-text-font-weight: 600;
--comment-text-special-color: #ffffffff;
--comment-line-height: 20px;
--comment-text-default-align: left;
--comment-text-special-align: center;
--comment-text-padding: 5px 10px 5px 10px;
--comment-emoji-size: 20px;
--comment-emoji-margin: 0px 3px 0px 3px;
--comment-sticker-size: 50px;
--comment-sticker-margin: 0px 0px 0px 0px;
--special-header-bar-size: 15px;
--special-header-bar-margin: 5px 5px 5px 5px;
--special-header-bar-default-color: #ffffffb3;
--special-header-bar-special-color: #ffffffb3;
--special-header-bar-radius: 20px 20px 20px 20px;
--special-header-icon-size: 20px;
--special-header-icon-padding: 3px;
--special-header-icon-color: #ffd700;
--special-header-icon-bg-color: #FFFFFF;
--special-header-icon-distance-top: 0px;
--special-header-icon-distance-side: 12px;
--special-header-padding: 5px 5px 5px 5px;
--special-footer-color: #FFFFFF;
--special-footer-font-size: 13px;
--special-footer-font: Noto Sans JP;
--special-footer-weight: 600;
--special-footer-align: center;
--special-footer-default-color: #ffffff66;
--special-footer-padding: 5px 8px 5px 8px;
--avatar-size: 25px;
--avatar-border: none;
--avatar-border-radius: 50% 50% 50% 50%;
--username-min-width: 80px;
--username-max-width: 200px;
--username-padding: 3px 10px 3px 10px;
--username-border-radius: 30px 30px 30px 30px;
--username-color: #FFFFFF;
--username-font-size: 13px;
--username-font-family: Noto Sans JP;
--username-font-weight: 600;
--username-default-bg-color: #707070;
--badges-size: 18px;
--badges-margin-distance: 0px 3px 0px 3px;
--comment-move-duration: 150ms;
--comment-move-timing: ease-out;
--comment-enter-duration: 150ms;
--comment-enter-timing: ease-out;
--special-header-icon-default: url('images/diamond.svg');
--special-header-icon-gift: url('images/gift.svg');
--special-header-icon-superchat: url('images/heart.svg');
--special-footer-bilibili-price-unit: '￥';
--special-footer-twitch-price-unit-1: 'Bits';
--special-footer-twitch-price-unit-2: 'CP';
}