:root {
--widget-time-display: inline-block;
--widget-date-display: inline-block;
--widget-week-display: inline-block;
--widget-text-align: center;
--widget-font-color: #2B2E2E;
--widget-font-size: 30px;
--widget-font-family: Zen Dots;
--widget-font-weight: 600;
--widget-line-height: 20px;
--widget-text-shadow: none;
--time-distance: 2px;
--date-distance: 2px;
--hcolon-display: inline-block;
--hcolon-blink: blink;
--mcolon-display: inline-block;
--mcolon-blink: none;
--box-bg-color: #ffffffff;
--box-border: 1px solid #ccccccff;
--box-padding: 10px 10px 10px 10px;
--box-margin: 0px 0px 0px 0px;
--box-border-radius: 10px 10px 10px 10px;
--box-shadow: 0px 0px 1px 0px #333844;
}