:root {
--datetime-font-color: #2B2E2E;
--datetime-font-size: 30px;
--datetime-font-family: Noto Sans;
--datetime-font-weight: 600;
--widget-text-align: center;
--datetime-time-distance: 2px;
--datetime-text-shadow: none;
--hcolon-display: inline-block;
--hcolon-blink: none;
--mcolon-display: inline-block;
--mcolon-blink: none;
--box-bg-color: #FFFFFF;
--box-border: 1px solid #ccccccff;
--box-padding: 3px 6px 3px 6px;
--box-margin: 0px 0px 0px 0px;
--box-border-radius: 10px 10px 10px 10px;
--box-shadow: 0px 0px 1px 0px #333844;
}